{% extends '/classement/layout.html.twig' %}
{% block title %}Add joueur{% endblock %}
{% block content %}
<div id="container">
    <h2 class="mt-5 mb-5">Ajout d'un joueur</h2>
    <a href="{{ url('/classement') }}" class="btn btn-outline-primary">Classement</a>
    <form method="post" action="{{ url('/classement/save') }}" class="mt-5">
        <div class="form-group">
            <label for="pseudo">Pseudo :</label>
            <input type="text" class="form-control" id="pseudo" name="pseudo">
            <!-- Select du joueur -->
					<select name="selectPseudo" multiple  id="selectPseudo" style="display:none">
					</select>
        </div>
        <div class="form-group">
            <label for="points">Points :</label>
            <input type="number" class="form-control" id="points" name="points" value="0">
        </div>
        <div class="form-group">
            <label for="kills">Kills :</label>
            <input type="number" class="form-control" id="kills" name="kills" value="0">
        </div>
        <div class="form-group">
            <label for="total">Total :</label>
            <input type="text" class="form-control" id="total" name="total">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock %}
{% block additional_js %}
	<script>
		recherche();
		function recherche() {
				// Vérif si le pseudo existe déjà
				let userName = document.getElementById('pseudo');
				let resultName = document.getElementById('selectPseudo');
				userName.addEventListener('keyup',function() {
					let userNameVal = userName.value;
		      		$('#selectPseudo').css('display','block');
		      		// requête AJAX
		      		const url = "./recherche-pseudo/" + userNameVal ;
		      		fetch(url)
			      		.then(response => response.json())
			      		// réceptionner les datas
			      		.then(datas => {
			      			console.log(datas);
			      			// reconstruire la liste des membres
			      		 	resultName.innerHTML = datas.membres.map(membre => {
			      		 		return `<option value="${membre.pseudo}">${membre.pseudo}</option>`;
			      		 	}).join('');
			      		 });
		      	})

		    resultName.addEventListener('click',function(){
	      		userName.value = resultName.value;
	      		$('#selectPseudo').css('display','none');
	      		resultName.innerHTML = "";
	      	})
		}

        let pointsI = document.getElementById('points');
        let killsI = document.getElementById('kills');
        let totalI = document.getElementById('total');
        pointsI.addEventListener('keyup',function() {
            var val1 = parseInt(pointsI.value);
            var val2 = parseInt(killsI.value);
            var totalV = val1 + val2;
            totalI.innerHTML = totalV;
        })
        killsI.addEventListener('keyup',function() {
            var val1 = parseInt(pointsI.value);
            var val2 = parseInt(killsI.value);
            var totalV = val1 + val2;
            totalI.value = totalV;
        })

		

	</script>
{% endblock %}